:root {
    background-color: #FCF8E8;
    width: 100vw;
    height: 100vh;
    font-family: 'Dancing Script', sans-serif;
    margin: 0;
   

}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #efeacf;
    width: 100vw;
    padding: 10px;
    justify-content: space-between;
    /* border: 2px solid #4b352e; */
    border-top: 2px solid #4b352e;
    border-bottom: 2px solid #4b352e;

}

.section-logo {
    display: flex;
    justify-content: center;

}

.logo {
    height: 100px;

}

.section-nav {
    display: flex;
    align-items: center;

    justify-content: center;
    margin: 0;
    padding: 0;



}

.nav-bar {
    display: flex;
    list-style-type: none;
    /* background-color: aliceblue; */
    /* padding-inline-start: 0; */
    padding: 0;
    margin: 0;



}

.nav-bar li {

    padding: 10px 20px;
    
    border-radius: 5px;
    margin: 0;
    
    text-align: center;
    
}

.nav-bar li a {
    text-decoration: none;
    color: #4b352e;
    font-size: 25px;

    
}
.nav-bar li a:hover {
    text-decoration: none;
    color: #c75133;
   
    
}

.active {
   /* border-bottom: 2px solid #4b352e; */
   text-decoration: underline;
}






.section-baner {
    display: flex;
    margin: 0;
    padding: 0;
}

.banner-img {
    display: flex;
    background-image: url("pexels-afta-putta-gunawan-683039.jpg") ;
    width: 100vw;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    background-origin: border-box;
    background-position: bottom;
    /* filter: blur(5px); Tried bluring background image, but it
    also blured the text*/
    
    
   
    
}

.banner-img h1   {
    font-size: 60px;
    color: white;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    animation: slogan 2s ease-in forwards;
}

.banner-img h2  {
    font-size: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    animation: slogan 2s ease-in forwards;
}

@keyframes slogan {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.checkout    {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 50px;
    margin-top: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cards a {
    text-decoration: none;
}

.cards .card1, .card2 {
    width: 350px;
    height: 350px;
    text-align: center;
    margin: 20px;
    border: 2px solid #4b352e;
    border-radius: 10px;
    transition: all 1s ease-in-out;
   
    
}

.card1 {
    background-image: url("pexels-nguyễn-khanh-2221925.jpg");
    background-size: cover;
}

.card2 {
    background-image: url("pexels-irina-iriser-1379636.jpg");
    background-size: cover;
}

.cards h1 {
    margin-top: 150px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 50px;   
      

}

.cards .card1:hover, .card2:hover {
    transform: scale(1.2);
    
}

.cards h1:hover {
    font-size: 60px;
}

.section-bodytext {
    display: flex;
    justify-content: center;
}

.bodytext {
    width: 1200px;
    background-color: white;
    padding: 50px;
    text-align: justify;
    border: 2px solid #4b352e;
    border-radius: 10px;

}

.section-footer {
    display: flex;
    background-color: #4b352e;
    justify-content: center;
    margin-top: 20px;
}

footer {
    display: flex;
    width: 1200px;
    background-color: #4b352e;
    color: white;
    margin: 20px;
    justify-content: space-between;
    

}


.footer-left h1 {
    /* position: relative; */
    /* background-color: #efeacf; */
    /* left: 30px; */
    width: 100px;
    
}

.footer-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}



.footer-nav li a {
    text-decoration: none;
    display: block;
    width: 200px;
    
    padding: 5px;
    color: white;
    /* background-color: #efeacf; */   

}

.footer-nav li a:hover {
    color: black;
}

.footer-left {
    /* background-color: #c75133; */
}
.footer-right {
    transition: all 1.5s ease-in-out;
}

.icons:hover {
    transform: scale(0.90);
}

.copyrights {
    margin-top: 100px;
}



.our-cafes-img {
    display: flex;
    background-image: url("glass-1058878_1920.jpg") ;
    width: 100vw;
    height:150px;
   background-size: contain;
    background-repeat: repeat;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    background-origin: border-box;
    background-position: bottom;
   
            
}

.our-cafes-img h1   {
    font-size: 60px;
    color: white;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    animation: slogan 2s ease-in forwards;
}


section.add {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.add-w1200 {
    
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.add1 {
    width: 350px;
    border: 2px solid #4b352e;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    transition: all 1s ease-in-out;
}

.add1 img {
    width: 325px;
    height: 300px;
    
    margin: 10px;
    border-radius: 5px;
}

.add1 h1    {
    margin: 10px;
}

.add2 {
    width: 350px;
    border: 2px solid #4b352e;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    transition: all 1s ease-in-out;
}

.add2 img {
    width: 325px;
    height: 300px;
    
    margin: 10px;
    border-radius: 5px;
}

.add2 h1    {
    margin: 10px;
}

.add3 {
    width: 350px;
    border: 2px solid #4b352e;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    transition: all 1s ease-in-out;
}

.add3 img {
    width: 325px;
    height: 300px;
    
    margin: 10px;
    border-radius: 5px;
}

.add3 h1    {
    margin: 10px;
}

.add1:hover, .add2:hover, .add3:hover {
    transform: scale(1.1);
}

.sources-img {
    display: flex;
    background-image: url("background-roasted-fresh-brown-coffee-beans-perfect-cool-wallpaper.jpg") ;
    width: 100vw;
    height:150px;
   background-size: contain;
    background-repeat: repeat;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    background-origin: border-box;
    background-position: bottom;
   
            
}

.sources-img h1   {
    font-size: 60px;
    color: white;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    animation: slogan 2s ease-in forwards;
}

.sources-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sources-text {
    width: 1000px;
    display: flex;
    flex-direction: column;

}

.textall {
    background-color: white;
    border-radius: 10px;
    margin: 10px;   
    border: 2px solid #4b352e;
}

.textall h1, .textall p {
    margin: 20px;
    
}

.textall h1 {
    font-size: 25px;
}

.textall p {
    font-size: 20px;
}

.aboutus-img {
    display: flex;
    background-image: url("architecture-1297321_640.png") ;
    width: 100vw;
    height:150px;
   background-size: contain;
    background-repeat: repeat;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    background-origin: border-box;
    background-position: bottom;
}

.aboutus-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutus {
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.aboutus-img h1   {
    font-size: 60px;
    color: white;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    animation: slogan 2s ease-in forwards;
}

.coffee-blend-img {
    display: flex;
    background-image: url("coffee-1239549_640.jpg") ;
    width: 100vw;
    height:150px;
   background-size: contain;
    background-repeat: repeat;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    background-origin: border-box;
    background-position: bottom;
}

.coffee-blend-img h1   {
    font-size: 60px;
    color: white;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    animation: slogan 2s ease-in forwards;
}

.section-unique {

    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.unique-w1200 {
    width: 1000px;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.product {
    width: 350px;
    border: 2px solid #4b352e;
    border-radius: 5px;
    margin: 20px;
    text-align: left;
    background-color: #FFE699;
   
}

.product img {
    width: 325px;
    height: 300px;
    
    margin: 10px;
    border-radius: 5px;
    border: 2px dotted #4b352e;
    
}

.product h1    {
    margin: 10px;
    border-top: 1px solid #4b352e;
    border-bottom: 1px solid #4b352e;
}

.product p {
    margin: 20px 10px;
}

.product button {
    margin: 10px;
    background-color: #4b352e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
 }

 .product button:hover {
    background-color: black;
    color: goldenrod;
    
 }

 .add-w1200 a {
    text-decoration: none;
    color: black;
 }

 .learn-img {
    display: flex;
    background-image: url("LearnWithUsHeader.jpg") ;
    width: 100vw;
    height:650px;
   background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    background-origin: border-box;
    background-position: center;
 }

 .learn-img h1   {
    font-size: 70px;
    color: white;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    animation: slogan 2s ease-in forwards;
 }

 .sources-learn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    
    
}

.sources-learn {
    width: 810px;
    
    margin: 20px;

    flex-direction: column;

}

.learnall {
    background-color: white;
    border-radius: 10px;
    margin: 10px;   
    border: 2px solid #4b352e;
}

.learnall h1, .learnall p {
    margin: 20px;
    
}

.learnall h1 {
    font-size: 25px;
}

.learnall p {
    font-size: 20px;
}

.test {
    display: flex;
    justify-content:center;
    align-items: center;
   
}

.w1200 {
    width: 1200px;
    margin: 20px;
    flex-direction: column;

}
  
.learnall button {
    margin: 10px;
    background-color: #4b352e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
 }

 .learnall button:hover {
    background-color: black;
    color: goldenrod;
    
 }

 .S1-contact-container {
    display: flex;
    justify-content: center;
    align-items: center ;
 }

 .S1-contact-w800{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #4b352e;
    margin: 20px;
    background-color: #FFE699;
 }

 .s1-c-form {
    width: 350px;
    margin: 10px;
    background-color: #FCF8E8;
 }

    input[type=text], input[type=email], 
    input[type=tel], select {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;

 }

 #radio {
    display: block;
    margin-top: 20px;
 }

 .select-city {
    display: block;
    margin-top: 5px;

 }

 form {
    background-color: #dab72f;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
 }

.form-button {
    margin-top: 5px;
    margin-bottom: 5px; 
    padding: 10px;  
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #4b352e;
    color: white;
    font-size: 15px;
 }

 .form-button:hover {
    background-color: #efeacf;
    color: black;
 }

 .s1-c-map {
    width: 350px;
    margin: 10px; 
    padding: 10px;
    background-color: #FCF8E8;   
 }

 @media all and (max-width:850px) {
    header {
        flex-direction: column;
        justify-content: center;

    }

    .nav-bar {
        flex-direction: column;
        justify-content: center;
    }

    .S1-contact-w800{
        flex-direction: column;
     }
    
}

@media all and (max-width:600px) {
    footer {
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .copyrights {
        margin-top: 20px;
    }
    
    
}